
#main {
  padding:75px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 46%;
    max-width: 46%;
  }
  .list-group{
	  padding:0px;
  }  
}
.header {
  text-align: center;
  font-size:20px;
}

.card {
  opacity: 0.8;
  filter: alpha(opacity=60);
  min-height : 800px;
}
.card-text {
  text-align: justify;
}
.list-group{
	padding:25px;
}