.tablesorter .tablesorter-filter {
	width: 99%;
	border: 1px solid #C3E6CB;
	border-radius: 5px;  
}
@media screen and (min-width: 768px) {
	.bottom-nav{	
		top: 86px;
	}				
}

.close{
  font-size: 40px;
  color: red;
}	
.tablesorter .filtered {
	display: none;
}

.tablesorter .tablesorter-errorRow td {
	text-align: center;
	background-color: #e6bf99;
}
.datepicker{ z-index:99999 !important;}
.select2-selection {
  text-align: left;
}		

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #04844b;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}	

.close{
  font-size: 40px;
  color: red;
}		
label{
	text-align: left;
}
.select2-selection {
  text-align: left;
}	
.select2-selection__rendered {
	line-height: 33px !important;
}
.select2-container .select2-selection--single {
	height: 38px !important;
}
.select2-selection__arrow {
	height: 37px !important;
}	

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.sidebar {
  font-family: Arial;
  font-size: 16px;
  background: #5e42a6;	
  position: fixed;
  width: 18%;
  height: 100vh;
  background: #312450;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}
.nav ul li.active a {
  color: white;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}
.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#5e42a6), to(#b74e91));
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

#content-desktop {display: flex;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
  #content-desktop {display: none;}
  #content-mobile {display: flex;}
}	